body {
  margin: 0;
  font-family: 'poppins', Fallback, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-width: 100vw !important;
  min-height: 100vh;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-width: 0;
}

// .svg-item {
//   animation: rotation 1s infinite linear;
// }

// @keyframes rotation {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(359deg);
//   }
// }
