body {
  margin: 0;
  font-family: 'poppins', Fallback, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.mv-wrapper {
  position: absolute;
  width: 100vw;
  opacity: 0.8;
}
