.music-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.album-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 5em;
  margin-left: 5em;
  .album-block {
    display: flex;
    align-items: center;
    .album-text-block {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      padding-left: 2em;
      font-size: 24px;
      .album-title {
        font-size: 30px;
      }
      li {
        list-style: none;
        a {
          padding-left: 3em;
        }
      }
    }
  }
}
