.navbar-container {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  position: fixed;
  padding-left: 20px;
  top: -50px;
  height: 100px;
  width: 100%;
  z-index: 1;
  transition: top 1s ease;
}

.navbar-listcontainer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar-items {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
