.photo-container {
  position: relative;
  height: 3240px;
  background: conic-gradient(
    from 110.02deg at 50% 50%,
    #1c0e18 0deg,
    rgba(0, 54, 247, 0) 360deg
  );
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
