.page-container {
  display: flex;
  flex-grow: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-title {
  display: flex;
  position: relative;
  align-items: flex-start;
  font-size: 50px;
  color: #ffffff;
  margin-left: 2em;
  margin-top: 2em;
}
